modules = ["nodejs-20"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node_modules/.bin/expo start --web --port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyBly9NyaYYik42sLEeHTTiuSu5h3qteVtY"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:523983300969:web:96edb36483d5d43706b5f8"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "ismail-cinema.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "523983300969"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "ismail-cinema"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "ismail-cinema.firebasestorage.app"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "523983300969-p53d2sq5bh2heg2kqohjbj1lad0rnfpu.apps.googleusercontent.com"
EXPO_PUBLIC_API_BASE_URL = "https://www.omdbapi.com"
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID = "523983300969-31h5pceeel5ajteh9k3r4cu9nlqj1di5.apps.googleusercontent.com"
EXPO_TOKEN = "Vooe7CpwBFMg5YjdwSgmVexc7cRFTgcUnr0Bv904"
